
<div class="layout-row align-items-center justify-content-center mt-50">

  <section class="layout-column align-items-center justify-content-between">
    <span class="input layout-row">
        <input type="number" class="large"
        data-test-id="app-input1"  [(ngModel)]="input1Value" (ngModelChange)="convertInput1()" />
  <label class="suffix" data-test-id="app-label1">{{ lengthOptions[selectedUnit1].unit }}</label>
    </span>
    <select data-test-id="app-select1" [(ngModel)]="selectedUnit1" (ngModelChange)="convertInput1()">
      <option *ngFor="let unit of lengthOptions" [ngValue]="unit.id">{{ unit.label }}</option>
    </select>
  </section>

  <label>⇋</label>

  <section class="layout-column align-items-center justify-content-between">
      <span class="input layout-row">
          <input type="number" class="large"
          data-test-id="app-input2" [(ngModel)]="input2Value" (ngModelChange)="convertInput2()"/>
          <label class="suffix" data-test-id="app-label2">{{ lengthOptions[selectedUnit2].unit }}</label>
      </span>
      <select data-test-id="app-select2" [(ngModel)]="selectedUnit2" (ngModelChange)="convertInput2()">
        <option *ngFor="let unit of lengthOptions" [ngValue]="unit.id">{{ unit.label }}</option>
      </select>
    </section>
</div>
